.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #ececec;

  //text-align: center;
  &__content{
    width: 30%;
    max-width: 600px;
    margin: auto;
    box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.08);
    border-radius: 10px;
    background: white;
  }
}
